.informations-orphanages{
    position: absolute;
    right: 12rem;
    bottom: 4rem;
    z-index: 999;
    width: 6.4rem;
    height: 6.4rem;
    background: rgb(31, 30, 30);
    border: 0;
    border-radius: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
}

.terms{
    color: #8fa7b3;
    margin-bottom: 0.8rem;
    line-height: 1.5;
}

.term-section{
    width: 100%;
    font-size: 3.2rem;
    text-transform: capitalize !important;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
    margin-top: 1em;
}