<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Happy é um projeto que visa facilitar a visibilidade e consequentemente as visitas nas instituições de ajuda infantil perto de você!">
  <meta name="keywords" content="happy, instituição-infantil">
  <meta name="author" content="Gabriel Leandro">
  <title>Localize uma instituição | Happy</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-orphanages.css" />
  <link rel="stylesheet" href="/css/informations-orphanages.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-orphanages">
    <aside class="animate-right">
      <header>
        <img src="/images/map-marker.svg" alt="happy" />
        <h2>Escolha uma instituição de ajuda no mapa</h2>
        <p>Muitas crianças estão esperando sua visita :)</p>
      </header>
      <footer>
        <strong>Brasília</strong>
        <span>Distrito Federal</span>
      </footer>
    </aside>
    <div id="mapid" class="animate-appear"></div>
    <div class="orphanages">
      {{#each orphanages}}
      <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-lat="{{this.lat}}"
        data-lng="{{this.lng}}"></span>
      {{/each}}
    </div>
    <a href="/informations" class="informations-orphanages" title="Cadastre uma instituição">
      <img src="/images/exclamation.svg" alt="Criar instituição" />
    </a>
    <a href="/create-orphanage" class="create-orphanages" title="Cadastre uma instituição">
      <img src="/images/plus.svg" alt="Criar instituição" />
    </a>
  </div>
  <script src="/scripts/page-orphanages.js"></script>
</body>

</html>